HELP.md

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

## Local configuration files
src/main/resources/application-local.properties

## Maven ###
target/
mvnw
mvnw.cmd
maven-wrapper.properties

*.log
/src/main/resources/logback-spring.xml
