<configuration>
    <!-- Appender para escribir logs en un archivo -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>src/main/resources/log/turismomadrid-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger específico para el paquete -->
    <logger name="com.wadajo.turismomadrid.domain.service" level="INFO" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <!-- Logger raíz -->
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>